.wrapper{
    width: max-content;
    height:450px;
    margin-top: 50px;
    position: relative;
    //padding: 20px 30px 0px 30px;
    display: flex;
    align-self: center;
    // border-radius: 20px;
    // background-image: linear-gradient(145deg,#eeecf3, #cacbd8);
    // box-shadow: 12px 12px 24px #b5b6c4, -12px -12px 24px #ffffff;
    
}
.wrapper:after{
    content:'';
    position: absolute;
    display: block;
    height:3px;
    border-radius: 2.5px;
    width:calc(100% + 10px);
    background-color: rgb(54, 54, 54);
    transform: translateX(-5px);
}
.bar4{
    width:20px;
    margin: 0 2px 0 2px;
    border-radius: 0px 0px 5px 5px;
    background-color: black;
}
// button{
//     border-radius: 50px;
//     font-size: 1.25rem;
//     padding:15px;
//     margin-top:30px;
//     border: none;
//     background-image: linear-gradient(145deg,#ffffff ,#cacbd8);
//     box-shadow: 6px 6px 15px #b5b6c4, -6px -6px 15px #ffffff;
//     color: rgb(80, 80, 80);
//     transition: all 0.3s ease-in-out;
// }
// button:hover{
//     color:rgb(89, 89, 255);
// }
// button:focus{
//     background-color: #cfced6;
//     background-image: none;
//     box-shadow:inset 6px 6px 15px #b5b6c4,inset -6px -6px 15px #ffffff;
//     outline:0;
//     color:rgb(89, 89, 255);
//     text-shadow: 0 0 10px rgb(147, 147, 255);
// }
.buttons{
    position: absolute;
}

@media screen and (min-width:900px){
    .wrapper{
        left: 50%;
        transform: translateX(-50%);
    }
}