/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #D1DCCA;
  // background-color: rgb(224,224,224);
}
::-webkit-scrollbar{
  width:4px;
  height:6px;
}
::-webkit-scrollbar-track{
  background-color: rgb(138, 138, 138);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  
  background-color: #4CD47C;
  border-radius: 10px;
  margin: 2px;
}